page-login {
    #loginPage{
        background-color: #E53935;
    }

   .scroll-content{
        align-content: auto;
        display: flex;
        justify-content: auto;
        text-align: center;
        padding-bottom: 0 !important;
   }

   ion-card.card {
       align-self: center;
       margin-top: 10%;
       background: #E53935;
   }

    .list{
        background: #E53935;
    }

   #companyLogo{
    align-self: center;
    width: 60%;
    height: 25%;
   }

    #username{
        text-align: auto;
        padding: 25px;
    }

    #password{
        text-align: auto;
        padding: 25px;
    }


    #remember{
        margin-left: -10px;  
    }

    .img{
        left: 0;
        right: 0;
        margin:0 auto;    
    }
    

    
}
