.slides{
    width: 100%;
}

#card {
    display: flex;
    flex-direction: column;
    width: 100%;
}


ion-scroll {
    min-height: 160px; 
    height: auto;

        .scroll-content {
        padding: 0px !important;
    }    
}


