<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="lightred" hideBackButton>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab color="lightred">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="createTable()">
        <ion-icon name="ios-create"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid id="itemGrid">
    <ion-row wrap>
      <ion-col col-6 col-lg-4 *ngFor="let table of tablesList">
        <ion-card (click)="loadTableDetails()" id="tableCard">
          <img src="assets/imgs/black.png" *ngIf="flag==1" />
          <img src="assets/imgs/green.png" *ngIf="flag==0" />
          <div id="order-title">Table No {{table.tableNumber}}</div> 
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>