
#userPage{
    background-color: #ffffff;
}

#title{
    text-align:center;
}


#carticon{
    font-size: 28px;      
    color:  #ffffff;
}

#filtericon {
    font-size: 28px;  
    margin-left: 80%;
    color:  #ffffff;
}

#addToCartIcon {
    margin-left: 5%;  
    margin-right: 18%;  
}


#increase{
    margin-left: 0%;
    padding-right: 1%;
}

#decrease{
    margin-left: 0%;
    padding-left: 1%;
}

#productColumn{
    //border: 0.1px solid rgb(134, 127, 127);
    display: flex;
}


#productCard{
    box-shadow: none;
    margin: 0%;
    width: 100%;
}

#category{
    display: inline-block;
    width: 75px;
}


ion-scroll { 
    height: auto;
        .scroll-content {
        height: 120px;
    }    
}

#itemGrid{
    padding: 0% !important;
    margin: 0% !important;
}


#addToCartButton{
    width: 100px;
    height: 25px;
}


