
#userPage{
    background-color: #ffffff;
    padding: 0%;
}

#title{
    margin-top: 1%;
}

#filtericon {
    font-size: 28px;  
    margin-left: 80%;
    color:  #ffffff;
}

#addToCartIcon {
    margin-left: 5%;  
    margin-right: 18%;  
}

#item{
    padding: 10px;
}

#list{
    padding: 10px;
}


#increase{
    margin-left: 25%;
    padding-right: 7%;
}

#decrease{
    padding-left: 7%;
}

#productColumn{
    border: 0.1px solid rgb(134, 127, 127);
    display: flex;
}

#productCard{
    margin: 0%;
    width: 100%;
}


